@import url('https://fonts.googleapis.com/css2?family=Liberation+Sans:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --color-black-bg: #0B0F14;
  --color-form-bg: #111926;
  --color-white-secondary: #8DA2B8;
  --color-green-success: #33D17A;
  --color-error-red: #DF1C41;
  --color-warning-yellow: #EB3D4D;
  --color-border-light: rgba(254, 254, 254, 0.10);
  --color-border-medium: rgba(254, 254, 254, 0.50);
  
  --font-family-liberation: "Liberation Sans", sans-serif;
  
  --radius-lg: 12px;
  --radius-xl: 32px;
}

@layer base {
  * {
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: var(--color-black-bg);
    color: white;
    font-family: var(--font-family-liberation);
  }
}

@layer components {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: var(--color-form-bg);
    border-radius: var(--radius-lg);
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--color-border-medium);
    border-radius: var(--radius-lg);
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-white-secondary);
  }
  
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px rgba(254, 254, 254, 0.10);
  }
}

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
  
  .pt-safe {
    padding-top: env(safe-area-inset-top);
  }
}